# Server Configuration
APP_PORT=8080

# Database Configuration (PostgreSQL)
POSTGRES_DB=elearning_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

# Database URL for Local Development (outside Docker)
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/elearning_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root

# Redis Configuration
REDIS_PORT=6379
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379

# Security / JWT (Mã hóa Base64 64-bytes cho HS512)
JWT_SIGNER_KEY=

# Mail Service Configuration
EMAIL_USERNAME=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Cloudinary Storage Configuration
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_api_key
CLOUD_API_SECRET=your_api_secret
